b-col {
  flex: 1 0 0%;
}
b-col.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

b-col.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

b-col.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

b-col.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

b-col.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

b-col.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

b-col.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

b-col.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

b-col.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

b-col.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

b-col.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

b-col.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
