@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
:root {
  --btt-lightblue: #69a4ea;
  --btt-blue: #2b7de1;
  --btt-red: #d93140;
  --btt-yellow: #ffea3f;
  --btt-white: #fff;
  --btt-gray: #6c757d;
  --btt-gray-dark: #343a40;
  --btt-gray-100: #f8f9fa;
  --btt-gray-200: #e9ecef;
  --btt-gray-300: #dee2e6;
  --btt-gray-400: #ced4da;
  --btt-gray-500: #adb5bd;
  --btt-gray-600: #6c757d;
  --btt-gray-700: #495057;
  --btt-gray-800: #343a40;
  --btt-gray-900: #212529;
}
* {
  font-family: "Roboto Condensed", sans-serif;
}
// font.scss
@import "./GlobalFont.scss";
// animation.scss
@import "./Animation.scss";
