/* b-button basic style */
b-button {
  // button basic css
  appearance: auto;
  writing-mode: horizontal-tb !important;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0em;
  cursor: pointer;
  --btt-padding-top-bottom: 0.5rem;
  --btt-padding-left-right: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  padding: var(--btt-padding-top-bottom) var(--btt-padding-left-right);
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  // color
  background-color: var(--btt-white);
  color: var(--btt-gray-900);
  border: 1px solid var(--btt-gray-500);
}
b-button:hover {
  opacity: 0.85;
}
b-button:active {
  transition: 0.2s ease-in-out;
  background-color: var(--btt-gray-900);
  color: var(--btt-white);
}
b-button:focus {
  transition: 0.25s ease-in-out;
  box-shadow: 0 0 0 0.125rem var(--btt-gray-500);
}
b-button.lightGray,
b-button.lightGrey {
  background-color: var(--btt-gray-200);
  color: var(--btt-gray-dark);
}
b-button.lightGray:active,
b-button.lightGrey:active {
  background-color: var(--btt-gray-dark);
  color: var(--btt-gray-200);
}
b-button.gray,
b-button.grey {
  background-color: var(--btt-gray-500);
  color: var(--btt-gray-dark);
}
b-button.gray:active,
b-button.grey:active {
  background-color: var(--btt-gray-dark);
  color: var(--btt-gray-500);
}
b-button.dark {
  background-color: var(--btt-gray-dark);
  color: var(--btt-white);
}
b-button.dark:active {
  background-color: var(--btt-white);
  color: var(--btt-gray-dark);
}
b-button.blue {
  background-color: var(--btt-blue);
  color: var(--btt-white);
}
b-button.blue:active {
  background-color: var(--btt-white);
  color: var(--btt-blue);
}
b-button.red {
  background-color: var(--btt-red);
  color: var(--btt-white);
}
b-button.red:active {
  background-color: var(--btt-white);
  color: var(--btt-red);
}
b-button.lightBlue {
  background-color: var(--btt-lightblue);
  color: var(--btt-white);
}
b-button.yellow {
  background-color: var(--btt-yellow);
  color: var(--btt-gray-900);
}
b-button.lightBlue:active,
b-button.yellow:active {
  background-color: var(--btt-white);
  color: var(--btt-gray-900);
}
